{
    "root": true,
    "extends": "eslint:recommended",
    "rules": {
        "indent": [2, "tab", {"SwitchCase": 1}],
        "no-mixed-spaces-and-tabs": [2, "smart-tabs"],
        "linebreak-style": [0, "windows"],
        "semi": [2, "always"],
        "no-invalid-this": 1,
        "quotes": 0,
        "comma-dangle": 0,
        "no-console": 0
    },
    "globals": {
        "jQuery": true,
        "$": true,
        "google": true,
        "define": true,
    },
    "env": {
        "es6": true,
        "browser": true
    }
}