<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" type="text/css" href="styles.css" />

	<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&v=3"></script>
	<script data-main="js/main" src="js/lib/require-jquery.js"></script>
</head>

<body>
	<div id="playground-app">
		<header>
			<h1>Geolocation Distance File Viewer</h1>
		</header>

		<section>
			<label for="file-input">Select a .distance file:</label>
			<input type="file" id="file-input" accept="*.distances" autocomplete="off"/>
		</section>

		<section id="mapContainer"></section>

<!-- 		<section id="main">
			<table id="data-table">
				<thead>
					<tr>
						<th>ID</th>
						<th>Lon/Lat</th>
						<th>Distance</th>
						<th>Confidence</th>
					</tr>
				</thead>
				<tbody id="data-view-body"></tbody>
			</table>
		</section>
 -->
		<footer>
			<div id="stats-footer"></div>
		</footer>
	</div>

	<!-- Templates -->

	<script type="text/template" id="record-template">
		<td><%= id %></td>
		<td><%= lon %>/<%= lat %></td>
		<td><%= dist %></td>
		<td><%= confidence %></td>
	</script>
</body>

</html>
