html,
body {
 	margin: 0; padding: 0;
 	width: 100%; height: 100%;
}

/* apply a natural box layout model to all elements */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
	font: 14px "Segoe UI", Helvetica, Arial, sans-serif;
	line-height: 1.4em;
	background: #eeeeee;
	color: #333333;
}

#playground-app {
	top: 0; bottom: 0; left: 0; right: 0;
	margin: 3%; margin-top: 0;
	padding: 20px;

	background: white;
	box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
	border-radius: 0 0 5px 5px;
}

/* main map container */
#mapView {
	margin: 10px 0;
	height: 760px;
	border: 1px solid #eef;
}

/* general styles */

ul { list-style: none; }
.clearfix {clear: both; margin: 0; }
.invisible { visibility: hidden; }
.hidden { display: none; }
html.wait, html.wait * { cursor: wait; }

.button {
	display: inline-block;
	padding: 4px 10px;
	font-size: 0.9em;
	text-decoration: none;
	cursor: pointer;
	color: rgb(105,105,105);
	background-color: rgba(220,220,220,0.7);
	border: 1px solid rgb(175,175,175);
	border-radius: 3px;
	box-shadow: rgba(0,0,0,0.1) 0 1px 3px 0, inset rgba(255,255,255,0.8) 0 1px 1px 0;
	text-shadow: 0 1px 0 rgba(255,255,255,0.8);
}
.transl {
	border-color: rgba(145,145,145,0.7);
	background-color: rgba(0,0,0,0.1);
}
.button.tiny {
	font-size: 11px; line-height: 14px;
	padding: 1px 4px;
}
.button[disabled] {
	opacity: 0.5;
}

/* Top controls */

#mainToolbar {
	position: relative;
}
#searchSessionInput {
	position: absolute;
	top: 0; right: 0;
}

/* Legend */

#mapLegend {
	margin: 10px 0 -10px 0; /* this is the last element on the page, pull up the bottom border with - margin */
}
ul.legend {
	font-size: 80%;
	padding: 0 20px;
}
ul.legend li {
	margin: 2px;
	display: inline-block;
}

ul.legend li span {
	vertical-align: middle;
}
ul.legend img,
ul.legend li .colorswatch {
	margin: 0 5px;
}

ul.legend li .colorswatch {
	display: inline-block;
	border-radius: 2.5px;
	width: 30px;
	height: 2.5ex;
}

/* Session Info Display */

#infoView {
	position: relative;
	min-height: 6em;
	margin: 10px 0;
	padding: 8px;
	border: 1px solid rgba(152, 180, 152, .8);
	border-radius: 5px;
	background: -webkit-linear-gradient(top, rgba(226, 236, 217, 0.8) 5%, rgba(202, 221, 183, 0.8) 100%);
	background: linear-gradient(to bottom, rgba(226, 236, 217, 0.8) 5%, rgba(202, 221, 183, 0.8) 100%);
	background-color: rgba(202, 221, 183, 0.8);
	box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0, inset rgb(241, 247, 236) 0 1px 0 0;
}

.etched {
	color: rgb(152, 180, 152);
	text-shadow: rgb(255, 255, 255) 0 1px 1px;
	font-weight: normal;
}

#infoView .caption {
	font-size: 1.1em;
	margin: 0 3px;
}
#infoView .toolbar {
	margin: 0.5em 0;
}

.infoBlock {
	margin: 0 10px;
}

#infoView output h3 {
	margin: 0 0 3px 0;
	font-size: 1em;
}

.propertyList {
	font-family: Consolas, "Courier New", Courier, monospace;
	margin: 0; padding: 0;
}
.propertyList .label {
	font-weight: bold;
}
.propertyList .value {
	font-size: 0.9em;
}

.propertyList .fileitem {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 20em;
	padding-left: 5px;
}

header, footer, #mapView, #mapLegend, #settings, #mainToolbar, .toolbar {
	-webkit-user-select: none;
	-moz-user-select: -moz-none;
	-ms-user-select: none;
	user-select: none;
}

#fileDropVeil {
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	background: rgba(30, 30, 30, 0.2);
	font-weight: bold;
	color: white; text-shadow: 0 2px 3px rgb(70, 70, 70);
	text-align: center;
}

#fileDropVeil .dropText {
	font-size: 150%;
	position: fixed;
	left: 50%;
	top: 50%;
	margin: 0 auto;
	margin-left: -webkit-calc(-10% / 2);
	margin-left: -moz-calc(-10% / 2);
	margin-top: -webkit-calc(-10% / 2);
	margin-top: -moz-calc(-10% / 2);
}

/* transparent div covering the drop text */
#fileDropZone {
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	z-index: 100;
}

/* Expand layout for widescreen displays */

@media screen and (min-width: 1000px) {
	.mainContent {
		display: -webkit-flex; /* Chrome uses new (2012) spec draft */
		display: -moz-box; /* Firefox uses previous (2009) draft */
		width: 100%; /* necessary for Firefox <18, otherwise the box is "deflated" */
	}

	#mapView {
		-webkit-flex: 1;
		-moz-box-flex: 1;
		margin-right: 10px;
	}
	#infoView {
		width: 300px;
		margin-left: 10px;
	}
	.infoBlock {
		margin: 10px;
	}
	#infoView .caption, #infoView output h3 {
		text-align: center;
	}
}

/* InfoView LCD layout for narrow screens */

@media screen and (max-width: 1000px) {
	#infoView {
		display: -webkit-flex;
		display: -moz-box; /* Fx 17*/
		display: -moz-flex; /* Fx 18 */
		width: 100%;
	}
	.infoBlock {
		-webkit-flex: 1;
		-moz-box-flex: 1;
		-moz-flex: 1;
		font-size: .9em;
		line-height: 1.1em;
	}

	#infoView .caption {
		position: absolute;
		right: 1em;
	}
}
