html,
body {
 	margin: 0;
 	padding: 0;
}

body {
	font: 14px Helvetica, Arial, sans-serif;
	line-height: 1.4em;
	background: #eeeeee;
	color: #333333;
	width: 80%;
	height: 100%;
	margin: 0 auto;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#playground-app {
	background: white;
	padding: 20px;
	margin-bottom: 10px;
	box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
	border-radius: 0 0 5px 5px;
}

/* main map container */
#mapContainer {
	margin: 10px 0;
	width: 100%;
	height: 760px;
}

ul {
	list-style: none;
}

/* Legend */

#mapLegend {
	margin: 10px 0 -10px 0; /* this is the last element on the page, pull up the bottom border with - margin */
}
ul.legend {
	font-size: 80%;
	padding: 0 20px;
}
ul.legend li {
	margin: 2px;
	display: inline-block;
}

ul.legend li span {
	vertical-align: middle;
}
ul.legend img,
ul.legend li .colorswatch {
	margin: 0 5px;
}

ul.legend li .colorswatch {
	display: inline-block;
	border-radius: 2.5px;
	width: 30px;
	height: 2.5ex;
}

/* Session Info Display */

#sessionInfo {
	position: relative;
	min-height: 5em;
	padding: 10px;
	border: 1px solid rgba(152, 180, 152, .8);
	border-radius: 5px;
	background: -webkit-linear-gradient(top, rgba(226, 236, 217, 0.8) 5%, rgba(202, 221, 183, 0.8) 100%);
	background: linear-gradient(to bottom, rgba(226, 236, 217, 0.8) 5%, rgba(202, 221, 183, 0.8) 100%);
	background-color: rgba(202, 221, 183, 0.8);
	box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0, inset rgb(241, 247, 236) 0 1px 0 0;
}

#sessionInfo .caption {

	position: absolute;
	right: 1em;
	color: rgba(38, 48, 16, 0.51);
	text-shadow: rgb(255, 255, 255) 0 1px 1px;
	font-size: 1em;
	font-weight: normal;
	margin: 0 3px;
}

.propertyList {
	font-family: Consolas, "Courier New", Courier, monospace;
	margin: 0; padding: 0;
}
.propertyList .label {
	font-weight: bold;
}
.propertyList .value {
	font-size: 0.9em;
}
