<li class="legendItem">
	<span>{{attribute}}:</span>
	<span class="scaleLimit">{{scaleMin}}</span>
	<span class="colorswatch colorscale" {{#if bgGradient}}style="background-image: {{bgGradient}}"{{/if}}></span>
	<span class="scaleLimit">{{scaleMax}}</span>
</li>
