{{#if values}}
<h3 class="etched">Highlighted Sectors <button class="translucent tiny symbolic unselect-button clear-highlights" title="Clear">&#128683;</button></h3>
<ul class="propertyList">
	<li><span class="label">Channels:</span>&nbsp;<span class="value">{{values}}</span></li>
</ul>
{{/if}}
