{{#each swatches}}
	<li class="legendItem clickable{{#unless enabled}} markerOff{{/unless}}" data-markertype="{{smb}}">
		<span class="colorswatch" style="background: #{{bgcolor}}"></span><span>{{label}}</span>
	</li>
{{/each}}
