	<ul class="legend">
		{{#each colors}}
			<li class="legendItem" data-markertype="{{smb}}"><span class="colorswatch" style="background: #{{bgcolor}}"></span><span>{{label}}</span></li>
		{{/each}}
	</ul>
