{{#each swatches}}
	<li class="legendItem clickable{{#unless enabled}} markerOff{{/unless}}" data-markertype="{{smb}}">
		<span class="colorswatch" style="background: #{{bgcolor}}"></span><span class="categoryLabel">{{label}}</span>
	</li>
{{/each}}
