<h3 class="etched">Selected Session</h3>
{{#if id}}
<ul class="propertyList">
	<li><span class="label">Session:</span> <span class="value">{{id}}</span></li>
	<li><span class="label">Records:</span> <span class="value">{{results.length}}</span></li>
</ul>
{{/if}}
