<div class="veilBackground" />

<!-- the size is necessary to prevent blurry rendering in Chrome due to CSS centering -->
<section class="dialog centered" style="width: 80%; height: 80%;" >
	<div class="content flexColumn">
		<h3>{{title}}</h3>

		<div><!-- this div helps flexbox layout to position the scrollbox div -->

			<table id="sessionTableHead" class="striped user-selectable">
				<thead>
					<tr>
						<th>ID</th>
						<th>Results</th>
						<th>Confidence</th>
						<th>Mobility Prob.</th>
						<th>Indoor Prob.</th>
						<th>Distance<span class="unit"> [m]</span></th>
						<th>Duration<span class="unit"> [s]</span></th>
						<th>Speed<span class="unit"> [km/h]</span></th>
					</tr>
				</thead>
			</table>

		</div>
		<div class="scrollbox stretching">

			<table id="sessionTableBody" class="striped user-selectable">
				{{! body with rows will be inserted here}}
			</table>

		</div>
	</div>

	<div class="toolbar">
		<button id="btnClose">Close</button>
	</div>
</section>
