<div class="veilBackground" />

<!-- the width/height is necessary to prevent blurry rendering in Chrome due to CSS centering -->
<section class="dialog centered" style="width: 26em; height: 27em;">
	<div class="content">
		<h3>Settings</h3>

		<ul>
			<li><h4>Result Filtering</h4></li>
			<li><label for="confidenceThresholdInput">Min. Confidence Threshold [%]</label>
				<input type="number" id="confidenceThresholdInput" step="5" min="0" max="100" class="mousetrap" />
			</li>

			<li><h4>Result Categorization</h4></li>
			<li>
				<label>
					<input type="checkbox" id="checkCategorizeMarkers" class="mousetrap" />Categorize result markers
				</label>
			</li>
			<li><label for="probMobilityInput">Mobility Probability Threshold [%]</label>
				<input type="number" id="probMobilityInput" step="5" min="0" max="100" class="mousetrap" />
			</li>
			<li><label for="probIndoorInput">Indoor Probability Threshold [%]</label>
				<input type="number" id="probIndoorInput" step="5" min="0" max="100" class="mousetrap" />
			</li>

			<li><h4>Heatmap Rendering Mode</h4></li>
			<li><label for="softHeatmapThresholdInput">Threshold for suggested Heatmap</label>
				<input type="number" id="softHeatmapThresholdInput" step="1000" min="5000" class="mousetrap" />
			</li>
			<li><label for="hardHeatmapThresholdInput">Threshold for automatic Heatmap</label>
				<input type="number" id="hardHeatmapThresholdInput" step="1000" min="10000" class="mousetrap" />
			</li>
			<li>
				<label style="padding-top: 1.5ex;" >
					<input type="checkbox" id="checkUseDotIcons" class="mousetrap" />Use dots for accuracy markers
				</label>
			</li>
			<li>
				<label>
					<input type="checkbox" id="checkDynamicSectorColors" class="mousetrap" />Use attribute colors for sectors
				</label>
			</li>
		</ul>
	</div>
	<div class="toolbar" style="position: relative;">
	    <button id="btnApply">Ok</button>
	    <button id="btnCancel">Cancel</button>
	    <button id="btnReset" style="position: absolute; right: 0;">Reset All</button>
	</div>
</section>
