{{#if id}}
<h3 class="etched">Selected Site</h3>
<ul class="propertyList">
	<li><span class="label">ID:</span> <span class="value">{{id}}</span></li>
	{{#if technology}}
	<li><span class="label">Tech:</span> <span class="value">{{technology}}</span></li>
	{{/if}}
	{{#each sectors}}
	<li><span >{{id}}:</span> <span class="value">{{azimuth}}</span></li>
	{{/each}}
</ul>
{{/if}}
