html,
body {
 	margin: 0; padding: 0;
 	width: 100%; height: 100%;
}

/* apply a natural box layout model to all elements */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
	font: 14px "Segoe UI", Helvetica, Arial, sans-serif;
	line-height: 1.4em;
	background: #eeeeee;
	color: #333333;
}

#playground-app {
	margin: 1%; margin-top: 0;
	padding: 10px 20px;

	background: white;
	box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
	border-radius: 0 0 5px 5px;
}

.flexbox #playground-app {

	position: absolute;
	top: 0; bottom: 0; left: 0; right: 0;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
}

.flexbox .mainContent {
	/* should grow itself */
	-webkit-flex: 1;
	flex: 1;

	/* flexbox for children */
	display: -webkit-flex; /* Chrome uses new (2012) spec draft */
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
}

.flexbox .stretching { flex: 1; }
/* node is a flexbox for children */
.flexbox .flexRow { display: flex; flex-direction: row; align-items: center; }
.flexbox .flexColumn {display: flex; flex-direction: column; }

/* main map container */
#mapView {
	margin: 10px 0;
	height: 760px;
	border: 1px solid #eef;
}

.flexbox #mapView {
	-webkit-flex: 1;
	flex: 1;
	height: auto; /* override default fixed height */
	min-height: 0;
}

/* general styles */

ul { list-style: none; padding: 0; }
.clearfix {clear: both; margin: 0; }
html.wait, html.wait * { cursor: wait; }

button {
	display: inline-block;
	margin: 2px;
	padding: 2px 10px;
	font-size: 0.9em;
	vertical-align: top;
	text-decoration: none;
	color: hsl(0, 0%, 37%);
	background-color: hsla(0, 0%, 75%, 0.6);
	border: 1px solid hsl(0, 0%, 70%);
	border-radius: 3px;
	box-shadow: rgba(0,0,0,0.1) 0 1px 3px 0,
				inset rgba(255,255,255,0.8) 0 1px 1px 0;
	text-shadow: 0 1px 0 rgba(255,255,255,0.8);
}
/* buttons in InfoView */
button.translucent {
	border-color: rgba(145,145,145,0.7);
	background-color: rgba(0,0,0,0.1);
}
button.tiny {
	font-size: 80%;
	line-height: 14px;
	margin: 0;
	padding: 1px 4px;
}
.symbolic {
	font-family: "Segoe UI Symbol", Arial, sans-serif;
}
button.symbolic {
	font-size: 16px;
}

/* various button states */
button[disabled] {
	opacity: 0.5;
}
button:not([disabled]) {
	cursor: pointer;
}

button:not([disabled]):hover {
	background-color: rgba(200,200,200,0.4);
}
button:not([disabled]):active, button:not([disabled]).active {
	box-shadow: inset 0 1px 3px rgb(180,180,180),
				inset 0 -1px 1px rgba(235, 235, 235, 0.9);
}

/* center an element (see http://zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/) */
.centered {
	position: relative;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
/* let an element occupy the right half of the parent (intended as analogy of .centered) */
.snapRight {
	position: relative;
	max-width: 40% !important;
	left: inherit; right: 5%;
	top: 50%;
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
}

.normalweight{
	font-weight: normal;
}

/* a transient popup box, for e.g. settings input or data display */
.dialog {
	position: fixed;
	display: flex; flex-direction: column;
	padding: 1em;
	background: white;
	border: 1px solid rgba(120, 120, 120, .8);
	border-radius: 5px;
	box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
	z-index: 50;
}
.dialog h3 { margin-top: 0 }
.dialog .content { flex: 1; }
.dialog .toolbar { position: relative; flex-shrink: 0; }
.dialog .windowcontrols {
	position: absolute;
	top: 3px; right: 3px;
}
.dialog .windowcontrols button {
	width: 18px; height: 18px;
	padding: 0;
	font-size: 10px;
	color: hsl(0, 0%, 60%);
	background: transparent;
}

/* a gray info text in a dialog */
.dialogTip {
	margin: 0; /* override <p> style */
	color: #bbbbbb;
	font-size: .7em;
	text-align: center;
}

/* Panel / Dropdown menu */

.dropdown-menu {
	display: none;
	position: absolute;
	overflow: hidden;
	margin: 0;
	padding: 0;
	z-index: 20;
	background-color: rgba(250, 250, 255, 0.95);
	border: 1px solid rgb(200, 200, 200);
	border-radius: 4px;
	box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0,
				inset rgb(241, 247, 236) 0 1px 0 0;
}
.dropdown-menu ul { margin: 0; padding: 3px 0; }

.menu-header {
	padding: 6px 10px;
	background: #eeeeee;
	border-bottom: 1px solid rgb(211, 211, 211);
	box-shadow: rgba(0, 0, 0, 0.15) 0 0 2px 0;
}
.menu-header .menu-title { font-weight: bold; }
.menu-header .close-button {
	line-height: 1;
	display: block;
	float: right;
	cursor: pointer;
	color: #808080;
}

.menu-button::after {
	content: "\00a0\25bc";
	font-size: 80%;
}

/* Top controls */

header {
	display: flex;
}
#mainToolbar {
	position: relative;
}
#fileForm,
#fileRepositoryView,
#searchView {
	display: inline-block;
	vertical-align: middle;
}
#mainToolbar .right {
	position: absolute;
	top: 0; right: 0;
}

#searchInput, #searchHelp {
	width: 160px;
}

#searchHelp ul { padding: 0.5em 1em; }
#searchHelp ul b { font-family: Consolas, "Courier New", monospace; }

/* File Repository View */

#loadButton {
	background: transparent;
	border-color: rgb(214, 214, 214);
}
#loadButton:not([disabled]):hover,
#loadButton:active { background-color: rgba(230, 235, 240, 0.5); }

#fileRepositoryPanel {
	margin-left: 2px;
}

#fileRepositoryList li { padding: 1ex 10px; }
#fileRepositoryList li:hover { background-color: rgb(90, 189, 245); color: white; }

/* Label View */

#labelView {
	flex: 1;
	margin: auto 1em;
}
#labelInput {
	font-size: 150%;
	vertical-align: middle;
	background: transparent;
	border: 1px solid rgb(102, 102, 102);
	padding: 3px;
	width: 80%;
	max-width: 800px;
}
#labelInput[disabled] {
	border-color: rgb(224, 224, 224);
	color: #888;
}

#editLabelLink {
	display: inline-block;
	width: 25px; height: 25px;
	border-radius: 100%;
	border: 1px solid #ccc;
	color: #ccc;
	font-size: 14px;
	text-align: center;
	text-decoration: none;
}
#editLabelLink:hover {
	color: #aaa;
	border-color: #bbb;
}

/* Map View */

.mapMessage p {
	text-align: center;
	font-size: 120%;
	text-shadow: 0 2px 4px #bbbbbb;
}

/* Settings */

#settings { font-size: 85%; }

#settings ul {
	/* slimmer than default ul */
	margin: 0;
}
#settings ul li {
	/* horizontal layout for checkboxes */
	display: inline-block;
	margin: 0 1ex;
	vertical-align: middle;
}
input[type="checkbox"] {
	/* improve alignment with labels */
	vertical-align: bottom;
}

#selectMarkerColorsAttribute {
	margin-left: 10px;
	min-width: 10em;
}

#btnMore.customized::before {
	content: "\00BB\00a0";
	color: red;
}

#settingsdialog ul { display: table; width: 100%; }
#settingsdialog li { display: table-row; }
#settingsdialog li label { display: table-cell; line-height: 1.5; }
#settingsdialog input[type="number"] { width: 10ex; }

#viewportDialog li label { padding: 0 4px; }
#viewportDialog li:first-of-type { margin-bottom: 5px; }

/* Overlays on top of map */

.mapcontrols {
	margin: 0; /* reduce margin from UL default */
	padding: 0 20px;
	background: white;
	border-radius: 5px;
	box-shadow: rgb(100,100,100) 0 0 8px;
}
.mapbutton {
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: -moz-none;
	-ms-user-select: none;
	user-select: none;
}
.mapcontrols.top { margin-top: 6px; }
.mapcontrols.bottom { margin-bottom: 6px; }
.mapbutton.left { margin-left: 5px; }

#zoomBoundsBtn { margin-top: -8px; }

/* Legend */

.legend {
	font-size: 80%;
	padding-bottom: 2px;
}
.legendItem {
	margin: 2px;
	display: inline-block;
	opacity: 1;
}

.legendItem.unavailable,
.legendItem.markerOff {
	opacity: 0.5;
}

.legendItem span {
	vertical-align: middle;
}

.legendItem .colorswatch {
	display: inline-block;
	margin: 0 5px;
	border-radius: 2.5px;
	width: 30px;
	height: 2.5ex;
}

.legendItem .colorscale {
	width: 150px;
	border: 1px solid rgba(120, 120, 120, .8);
	background-color: rgba(220, 220, 220, 0.8);
}

/* filter bar UL */
#filters {
	font-size: 1.1em;
	background-color: #FFFFB9;
}

.filterItem a {
	font-weight: bold;
	text-decoration: underline;
}

/* Session Info Display */

#infoView {
	position: relative;
	min-height: 6em;
	margin: 10px 0;
	padding: 8px;
	overflow: auto;
	border: 1px solid rgba(152, 180, 152, .8);
	border-radius: 5px;
	background: -webkit-linear-gradient(top, rgba(226, 236, 217, 0.8) 5%, rgba(202, 221, 183, 0.8) 100%);
	background: linear-gradient(to bottom, rgba(226, 236, 217, 0.8) 5%, rgba(202, 221, 183, 0.8) 100%);
	background-color: rgba(202, 221, 183, 0.8);
	box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0, inset rgb(241, 247, 236) 0 1px 0 0;
}

.etched {
	color: rgb(152, 180, 152);
	text-shadow: rgb(255, 255, 255) 0 1px 1px;
	font-weight: normal;
}

#infoView .caption {
	font-size: 1.1em;
	margin: 0 3px;
}
#infoView .toolbar {
	margin: 0.5em 0;
}

.infoBlock {
	margin: 0 10px;
}

#infoView output h3 {
	margin: 0 0 3px 0;
	font-size: 1em;
}

.propertyList {
	font-family: Consolas, "Courier New", Courier, monospace;
	margin: 0; padding: 0;
}
.propertyList .label {
	font-weight: bold;
}
.propertyList .value {
	font-size: 0.9em;
}
.propertyList .value.small {
	font-size: 0.8em;
}

.propertyList .fileitem,
.propertyList .sectoritem {
	font-size: .9em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-left: 5px;
}

/* emphasize a sector in the list */
.sectoritem.highlighted { font-weight: bold; font-style: italic; }

/* per-sector result filter buttons */
.sectoritem > .filterButton { display: none; }
.sectoritem:hover > .filterButton { display: inline-block; }

button.lookup-cell,       button.filterByElement       { background-color: rgba(230, 180, 23, 0.2); }
button.lookup-cell:hover, button.filterByElement:hover { background-color: rgba(247, 216, 119, 0.4); }
button.lookup-ref-cell,       button.filterByRefcell       { background-color: rgba(132, 230, 23, 0.2); }
button.lookup-ref-cell:hover, button.filterByRefcell:hover { background-color: rgba(163, 255, 61, 0.4); }

button.unselect-session {
	color: rgb(204, 131, 103);
	border-color: rgba(110, 60, 20, 0.2);
	background-color: rgba(190, 90, 23, 0.1);
}
button.unselect-session:hover { background-color: rgba(230, 170, 120, 0.3); }

/* Table Views */

table {
	width: 100%;
	border: 1px solid hsl(215, 25%, 83%);
	border-collapse: collapse;
	border-spacing: 0;
}

thead {
	background: hsl(210, 100%, 94%);
}

th {
	color: hsl(215, 40%, 50%);
	border-bottom: 1px solid hsl(210, 25%, 80%);
	padding: 6px;
	text-transform: uppercase;
}
table.sortable th { cursor: pointer; }
table.sortable th:hover { background-color: hsl(210, 100%, 90%); }
th .unit { text-transform: none; }

th.sorted { position: relative; }
th.sorted::after { /* draw a triangle using borders */
	content: "";
	border: 6px solid;
	border-top: none;
	border-left-color: transparent;
	border-right-color: transparent;
	position: absolute;
	bottom: 6px;
	right: 4px;
}
th.sorted.descending::after {
	-webkit-transform: scaleY(-1);
	transform: scaleY(-1);
}

td {
	padding: 4px 10px;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: center;
}
/* numbers should be right-aligned, centered in the column */
span.decimalAlign {
	display: inline-block;
	width: 100px;
	max-width: 50%;
	margin: 0 auto;
	text-align: right;
}

tr+tr { border-top: 1px solid hsl(210, 20%, 87%); }

table.striped tr:nth-child(even) { background: hsl(210, 100%, 94%); }

table.striped a { text-decoration: none; color: hsl(210, 50%, 40%); }
table.striped a:hover { text-decoration: underline; }

/* All Sessions Table View */

.tableView .dialog {
	max-width: 1200px;
	max-height: 80%;
}
.tableView .snapRight th {
	font-size: 80%;
}

.tableView table {
	table-layout: fixed; /* evenly spaced columns */
}
.tableView .scrollbox {
	overflow: auto;
	overflow: overlay; /* Chrome specific */
	box-shadow: hsl(0, 0%, 85%) 0 3px 5px 0;
	margin-bottom: 15px;
}

/* UI should not be selectable */

header, footer, button, #playground-app, .toolbar, .dialog {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.user-selectable {
	-webkit-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
}

.veilBackground {
	position: fixed;
	top: 0; right: 0; bottom: 0; left: 0;
	background: rgba(30, 30, 30, 0.2);
	background-image: radial-gradient(circle, rgba(180, 180, 180, 0.23), rgba(0, 0, 0, 0.3));
	color: white;
	z-index: 40;
}

#fileDropVeil .dropText {
	font-size: 150%;
	font-weight: bold;
	text-shadow: 0 2px 3px rgb(70, 70, 70);
	text-align: center;
	position: fixed;
	left: 50%;
	top: 50%;
	margin: 0 auto;
	margin-left: -webkit-calc(-10% / 2);
	margin-left: -moz-calc(-10% / 2);
	margin-left: calc(-10% / 2);
	margin-top: -webkit-calc(-10% / 2);
	margin-top: -moz-calc(-10% / 2);
	margin-top: calc(-10% / 2);
}

/* transparent div covering the drop text */
#fileDropZone {
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	z-index: 100;
}
#dropCancel {
	position: absolute;
	top: 30px; right: 30px;
	width: 20px; height: 20px;
	border: 1px solid white;
	border-radius: 100%;
	text-align: center;
	box-sizing: content-box;
	background-color: hsl(0, 0%, 70%);
	opacity: 0.7;
}

/* Expand layout for widescreen displays */

@media screen and (min-width: 1000px) {
	.flexboxlegacy:not(.flexbox) .mainContent {
		display: -moz-box; /* Firefox uses previous (2009) draft */
		width: 100%; /* necessary for Firefox <18, otherwise the box is "deflated" */
	}
	.flexbox .mainContent {
		display: -webkit-flex; /* Chrome uses new (2012) spec draft */
		display: flex;
	}

	#mapView {
		margin-right: 10px;
	}
	.flexboxlegacy #mapView {
		-moz-box-flex: 1;
	}
	.flexbox #mapView {
		-webkit-flex: 1;
		flex: 1;
	}
	#infoView {
		width: 350px;
		margin-left: 10px;
	}
	.infoBlock {
		margin: 10px;
	}
	#infoView .caption, #infoView output h3 {
		text-align: center;
	}
}

/* InfoView LCD layout for narrow screens */

@media screen and (max-width: 1000px) {

	.flexbox .mainContent {
		/* switch direction */
		-webkit-flex-direction: column;
		flex-direction: column;
	}

	#infoView {
		display: -webkit-flex;
		display: -moz-box; /* Fx 17*/
		display: flex;
		width: 100%;
		max-height: 200px; /* height can get excessive with many listed files */
	}
	.infoBlock {
		-moz-box-flex: 1;
		font-size: .9em;
		line-height: 1.1em;
		max-width: 20em;
	}
	.flexbox .infoBlock {
		-webkit-flex: 1;
		flex: 1;
	}

	#infoView .caption {
		position: absolute;
		right: 1em;
	}
}

/* some final words about "display:", to override "block" or "inline-block" */
.invisible { visibility: hidden; }
.hidden { display: none; }
.clickable:not([disabled]) { cursor: pointer; }
